/visualstudio/Basictest/x64
/visualstudio/Basictest/Basictest/x64/Debug
/visualstudio/Basictest/Basictest.VC.db
/visualstudio/Basictest/Basictest.VC.VC.opendb
/visualstudio/Basictest/.vs/Basictest/v14/.suo
